{% extends 'base.html' %}

{% block title %}<title>Home</title>{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h1 class="text-center">Admin Page 예시</h1>
<a href="{% url 'practice:create' %}">명언 추가하기</a>

<div class="container mt-5">
  <h2>재미 명언</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
        <th scope="col">이미지</th>
        <th scope="col">변경</th>
        <th scope="col">삭제</th>
      </tr>
    </thead>
    <tbody>
      {% for say in saying %}
      <tr>
        <td>{{ say.title }}</td>
        <td>{{ say.content }}</td>
        <td>이미지</td>
        <td><a href="{% url 'practice:edit' say.pk %}">변경</a></td>
        <td><a href="{% url 'practice:delete' say.pk %}">삭제</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
